@import url('https://fonts.googleapis.com/css?family=Poppins|Silkscreen|Kelly Slab:300,400,500,600,700,800,900&effect=neon&display=swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    background-image: url('https://swall.teahub.io/photos/small/220-2205714_get-the-latest-movies-data-src-kodi-tv.jpg');
    background-size: cover;
    backdrop-filter: blur(2px);
    height: 100vh;
}

.wrapper{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 18%, rgba(0,0,0,0.6) 82%, rgba(0,0,0,1) 100%);
    height: 100vh;
}

.logo{
    display: flex;
    text-align: center;
    cursor: default;
}

.logo img{
    width: 4%;
    padding: 20px;
    border-radius: 35px;
    transition: 1.5s;
}

.logo img:hover{
    width: 3.5%;
    transition: 1.5s;
}

.logo h2{
    color: #fff;
    font-family: 'Silkscreen';
    font-size: 40px;
    padding-top: 20px;
    text-shadow: red 0 0 12px;
}

.signin{
    float: right;
    transform: translateY(-75px) translateX(-40px);
    text-decoration: none;
    border: none;
}

.signin button{
    padding: 10px 17px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    transition: .5s;
}

.signin button:hover{
    background-color: red;
    box-shadow: red 0 0 12px;
    transition: .5s;
}

.signin a{
    text-decoration: none;
    color: red;
    font-weight: 600;
    transition: .3s;
    font-size: medium;
}

.signin a:hover{
    color: #fff;
}

.desc{
    color: #fff;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    cursor: default;
}

.desc .rek{
    font-size: 3.5em;
    padding-top:2.5em;
    font-weight: 600;
}

.desc .terseru{
    padding-top: 0;
    font-size: 3.5em;
    transform: translateY(-30px);
    font-weight: 600;
}

.desc h3{
    padding: 1em 0;
    font-weight: 200;
}

.signup{
    text-decoration: none;
    border: none;
}

.signup button{
    padding: 25px 70px;
    border-radius: 10px;
    background-color: red;
    border: none;
    border-bottom: rgb(125, 0, 0) solid 7px;
    box-shadow: #121212 4px 4px 12px;
    transition: .5s;
    margin: 0;
}

.signup button:hover{
    background-color: red;
    box-shadow: #000000 0px 9px 28px;
    border-bottom: rgb(40, 0, 0) solid 3px;
    transform: translateY(10px);
    transition: .5s;
    cursor: pointer;
}

.signup a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: .3s;
    font-size: large;
    margin: 0;
}

.signup a:hover{
    color: #fff;
}